The main idea of this assignment is explore 
1.   Basic Operation 
           - print statement 
           - how to get help 
           - declare variables 
           - assign values
2. Working with Integers 
           - operators 
           - functions 
3. Working with Strings 
           - operators 
           - functions 
4. Handling Errors 
           - Syntax 
           - Run Time 
           - Logical

In [ ]:
# print your name 

# print your hobbies 

# print your registration number

print('my name is>>SATHWIK S SHETTY')
print('my hobbies are>> Playing cricket, Watching anime')
print('reg no>> 211047006')

my name is>>SATHWIK S SHETTY
my hobbies are>> Playing cricket, Watching anime
reg no>> 211047006

In [ ]:
# how to get more information about print functions 


# how to get more infromation about math module 


# how to get more information about symbols 
help()

Welcome to Python 3.7's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.7/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [ ]:
# store your role model name in the variable "role"


# describe your role model in the variable "role_desc"


# store the numeric value in the variable "my_values"
role = 'bruce wayne'
role_desc='batman'
my_values= 124578

In [ ]:
# you can perform arithemetic opeartions using python arithmetic opeartors 
# To perform arithmetic opeations 
# If your run a 1000 Kilo Meter race in 143 minutes 30 seconds, what is your average time per mile? What is your average speed in miles per hour? 
# Hint : 1.61 kilometers in a mile
x=1000
y=x/1.61
print(y)
a=143.5/60
print('time taken in hour',a)
z=y/a
print('speed in miles per hour',z)

621.1180124223603
time taken in hour 2.3916666666666666
speed in miles per hour 259.7009111173632

In [ ]:
# Suppose the cover price of a python book  is  577.95, but bookstores get a 40% discount.
# Shipping costs  150 for the first copy and 50 Rupees for each additional copy. What is the total wholesale cost for 60 copies?
x=577.95
y=x-x*40/100
print('cost per copy after discount',y)
a=y+150
b=y*60+59*50+150
print('total cost',b)

cost per copy after discount 346.77000000000004
total cost 23906.2

In [ ]:
# write a python code to convert Centrigrade to Fahrenheit , get the value Centrigrade from the user. 
# Sample Input:
# Enter Centrigrade:  23.5 

c=float(input('vaLUE OF C'))
f=(c*9/5)+32
print('temperature in F',f)

vaLUE OF C25
temperature in F 77.0

In [ ]:
# write a python code to convert Fahrenheit to Centrigrade, get the value Fahreheit from the user. 
# Sample Input:
# Enter Fahreheit:  23.5 
f=float(input('value of f'))
c=(f-32)*5/9
print('temperature in c',c)

value of f55
temperature in c 12.777777777777779

In [ ]:
# Write a python program of your choice which uses arithmetic operations (use both operators and functions ) with meaningful application 
a=10
b=5
print('addition',a+b)
print('subtraction',a-b)
print('multiplication',a*b)
print('division',a/b)
print('modulus',a%b)
print('square',a**b)

addition 15
subtraction 5
multiplication 50
division 2.0
modulus 0
square 100000

In [ ]:
# create a variable called my_neg to store  negative value 
my_neg = -15
print(my_neg)


# create a variable called my_float to store float value 
my_float =  2.4425
print(my_float)


# create a variable called my_complex to store complex value 
my_complex= complex(2,3)
print(my_complex)

# Note: there a various method to create complex numbers 

# perform mathematical operations on complex numbers 
def addComplex( b1, b2):
    return b1 + b2
 
b1 = complex(2, 3)
b2 = complex(1, 2)
print( "Addition is : ", addComplex(b1, b2))

-15
2.4425
(2+3j)
Addition is :  (3+5j)

In [ ]:
# create a variable called break and assign it a value of 15. what is the response and find the reason behind the behaviour.  
break =15

SyntaxError: ignored

In [ ]:
result ="pathfinder"
print (result[2])

t

In [ ]:
# String operations 
#Write a program to get the name of the guest , then greet the user using their name as part of greeting 
# Sample Input 
# Enter the Guest Name: Writer Sudha Murthy 
# Sample Output 
# I am extremly hounor to welcome Sudha Murthy to ....... 
a = str(input('enter name'))
print('I am extremly hounor to welcome Sudha Murthy')

enter namesuda murthy
I am extremly hounor to welcome Sudha Murthy

In [ ]:
quotes  = "Don't Judge each day by the harvest you reap but by the seeds that you plant."

# count the total number of characters in the variable quotes 
count = 0;  

for i in range(0, len(quotes)):  
    if(quotes[i] != ' '):  
        count = count + 1;  

print("Total number of characters in a string: " + str(count));  

# convert the smaller case to upper case, upper case to smaller case 
nstr=""
for i in range (len(quotes)):
    if quotes[i].isupper():
        nstr+=quotes[i].lower()
    elif quotes[i].islower():
        nstr+=quotes[i].upper()
    else:
        nstr+=quotes[i]
print(nstr)

# check whether the numeric value is present or not 
if type(quotes) == int or type(quotes) == float:
    print('number')
else:
    print('The variable is not a number')

# Check whether the word "harvest" present in the string or not 

"harvest" in quotes

# replace the (.) with (!) 
print(quotes.replace('.','!'))

Total number of characters in a string: 62
dON'T jUDGE EACH DAY BY THE HARVEST YOU REAP BUT BY THE SEEDS THAT YOU PLANT.
The variable is not a number
Don't Judge each day by the harvest you reap but by the seeds that you plant!

In [ ]:
# Explore any 5 string build-in functions which is not discussed in the class
# provide with suitable examples 
mystring = "i have a laptop"
mystring[:2]
mystring[-2:]
mystring[1:3]
mystring[::-1]
mystring.split()[-1]

'potpal a evah i'

In [ ]:
num_int =55
num_str =34
int(num_str)
total = num_int + num_str
print (total)
print (type(num_int))
print (type(num_str))

89
<class 'int'>
<class 'int'>

In [ ]:
#Find potential sources of runtime errors in this code snippet:
import math
dividend = float(input("Please enter the dividend: "))
divisor = float(input("Please enter the divisor: "))
quotient = dividend / divisor5
quotient_rounded = round(quotient)
print(quotient)

Please enter the dividend: 10
Please enter the divisor: 5
2.0

In [ ]:
# print the quotes : Don't judge each day by the harvest you reap but by the seeds that you plant.
# Example for syntax Error 

print ("Don't judge each day by the harvest you reap but by the seeds that you plant")

Don't judge each day by the harvest you reap but by the seeds that you plant

In [ ]:
# print the Quotes :Don't judge each day by the harvest you reap but by the seeds that you plant.
print("Don't judge each day by the harvest you reap but by the seeds that you plant")

Don't judge each day by the harvest you reap but by the seeds that you plant

In [ ]:
# identify the error, label the type of error and correct the error 
clas ="plant"
crop_name ="Brinjal"
yeid = 20
print(clas,crop_name,yeid)
# print name of the class, crop name and yeid 

x=10
print (x)
# print the value of x

plant Brinjal 20
10

In [ ]:
# Find the errors in the coding and correct 
# formula to convert centrigrade to fahr


C = 21; F = 9/5*C + 32
print(F)
C = 21.0; F = (9/5)*C + 32
print(C)

69.80000000000001
21.0

In [ ]:
#Explain why the code is not working 
c= a+ b 
a =10 
b = 5 
print(c)

15

In [ ]:
# Find the bugs in the below code, correct the mistakes and comment suggestions 
from math import pi
h = 5.0 # height
B = 2.0 # base
r = 1.5 #radius
area_parallelogram = h*b
print ('The area of the parallelogram is %.3f', area_parallelogram )
area_square = b**2
print ('The area of the square is %g', area_square)
area_circle = pi*r**2
print ('The area of the circle is %.3f',area_circle)
volume_cone = 1.0/3*pi*r**2*h
print ('The volume of the cone is %.3f', volume_cone)

The area of the parallelogram is %.3f 25.0
The area of the square is %g 25
The area of the circle is %.3f 7.0685834705770345
The volume of the cone is %.3f 11.780972450961723

In [ ]:
# This code shows the use math module 
# Run time error and Logical Error 

from math import sin
r= sin(c)

x=2.4
y = 2.5 + 3j
y_new = abs(y)
print(y_new)

math.sin(x)
#math.sin(y)

3.905124837953327

0.675463180551151

In [ ]:
print("Hello, World!")
print(5 + 1)
print("All finished!")

Hello, World!
6
All finished!

In [ ]:
# Print the statement, Kindly help me!
print ("Kindly help me!")

Kindly help me!

In [ ]:
# print the value of the course 
course = "Programming with Python"
print (course)

Programming with Python

In [ ]:
#store the size of the land in the variable size  in square feet 
size = 200 
#store the income as in
#print the value of  both size and income 
inc= 9000
print(size,inc)

200 9000

In [ ]:
print ("Don't eat those cookies before dinner.")

Don't eat those cookies before dinner.

In [ ]:
print ('Hello \t \t \t world ')

Hello 	 	 	 world

In [ ]:
print ('I like Python Programming!')

I like Python Programming!

In [ ]:
print ("The first program in any programming language is Hello World.")

The first program in any programming language is Hello World.

In [ ]:
cropname ='brinjal'
print (cropname)

brinjal

In [ ]:
# find the bug
print( 1/2)

0.5

In [ ]:
profit = 1000
#increment profit by 1
profit++ 1

1001

In [ ]:
import math
print (math.log(10))

2.302585092994046

In [ ]:
print (math.sin(2))

0.9092974268256817

In [ ]:
num_int =55
num_str =34
total = num_int + num_str
print (total)
print (type(num_int))
print (type(num_str))

89
<class 'int'>
<class 'int'>

In [ ]:
# Trying to print the multiplication entry, but it throws error 
print("5*6=",5*6)

5*6= 30

In [ ]:
# Trying to find the round of 10.2 
round(10.2)

10

In [ ]:
round(10.2)

10

In [ ]:
# Trying to calculate 2 to the power of 5 

print(2**5)

32

In [ ]:
#Trying to multiply 5 
print(5 * 5)

25

In [ ]:
# Trying to print the text message Hello 

print('Hello')

In [ ]:
#store the size of the land in the variable size  in square feet 
size = 200 
#store the income as in
#print the value of  both size and income 
inc= 9000
print(size,inc)

200 9000