In [ ]:
str = "my NamE is khan"
count=0
print(str)
print(len(str))
str1 =str.upper()
print(str1)
str2 = str1.lower()
print(str2)
str3 = "my"
str4 = "khan"
if str.startswith(str3):
    print("starts with my")
else:
    print('does not start with my')   
if str.endswith(str4):
    print("ends with khan")
else:
    print("does not end")    
str5=str.split() 
print(str5)
str6=str.swapcase()
print(str6)
str7=str.title()
print(str7)
str8=str.count("m")
print(str8)
str9=str.splitlines()
print(str9)
print(str.replace("khan","Shetty"))
str9=str.isupper()
print(str9)
str10 =str.islower()
print(str10)

my NamE is khan
15
MY NAME IS KHAN
my name is khan
starts with my
ends with khan
['my', 'NamE', 'is', 'khan']
MY nAMe IS KHAN
My Name Is Khan
2
['my NamE is khan']
my NamE is Shetty
False
False

In [83]:
dicti = {1: 'car',2: 'bike',3: 'cycle'}
print(dicti)
dicti['address']= 'manipal'
print(dicti)
print(dicti.pop(2))

print(dicti)
for item in dicti.items():
    print(item)
print (1 in dicti)    
for i in dicti:
    print(i)
dicti1={1:'car',4: 'plane'}  
dicti.update(dicti1) 
print(dicti)
dicti.clear()

{1: 'car', 2: 'bike', 3: 'cycle'}
{1: 'car', 2: 'bike', 3: 'cycle', 'address': 'manipal'}
bike
{1: 'car', 3: 'cycle', 'address': 'manipal'}
(1, 'car')
(3, 'cycle')
('address', 'manipal')
True
1
3
address
{1: 'car', 3: 'cycle', 'address': 'manipal', 4: 'plane'}

In [ ]:
List = ['sky',77,'sky',88,'cloud']
print(List)
print(len(List))
print(List.count("sky"))
List.append(3)
print(List)
List.insert(3, 12)
print(List)
List.extend([2,'car'])
print(List)
List.remove(77)
print(List)
short_list=List[1:5]
print(short_list)
reverse=List[::-1]
print(reverse)
List.pop(3)
print(List)
list1 = [11,12,13]
print(List+list1)
print(List*2)

['sky', 77, 'sky', 88, 'cloud']
5
2
['sky', 77, 'sky', 88, 'cloud', 3]
['sky', 77, 'sky', 12, 88, 'cloud', 3]
['sky', 77, 'sky', 12, 88, 'cloud', 3, 2, 'car']
['sky', 'sky', 12, 88, 'cloud', 3, 2, 'car']
['sky', 12, 88, 'cloud']
['car', 2, 3, 'cloud', 88, 12, 'sky', 'sky']
['sky', 'sky', 12, 'cloud', 3, 2, 'car']
['sky', 'sky', 12, 'cloud', 3, 2, 'car', 11, 12, 13]
['sky', 'sky', 12, 'cloud', 3, 2, 'car', 'sky', 'sky', 12, 'cloud', 3, 2, 'car']

In [ ]:
tuple = (1,'hi',2,'bye',3,'kkk',1,2)
print(len(tuple))
print(tuple.count(1))
print(tuple.index('bye'))
tuple1 = (1,1,'hi')
tuple2 = tuple + tuple1
print(tuple2)
tuple3 =(tuple1,tuple2)
print(tuple3)
tuple4 = tuple*2
print(tuple4)
print(tuple[1:])
print(tuple[::-1])
print(any(tuple))
print(all(tuple))

8
2
3
(1, 'hi', 2, 'bye', 3, 'kkk', 1, 2, 1, 1, 'hi')
((1, 1, 'hi'), (1, 'hi', 2, 'bye', 3, 'kkk', 1, 2, 1, 1, 'hi'))
(1, 'hi', 2, 'bye', 3, 'kkk', 1, 2, 1, 'hi', 2, 'bye', 3, 'kkk', 1, 2)
('hi', 2, 'bye', 3, 'kkk', 1, 2)
(2, 1, 'kkk', 3, 'bye', 2, 'hi', 1)
True
True